<!doctype html>
<html lang="en">
<%- include('../partials/head') -%>
<body>
<div class="text-layout mdl-header mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <%- include('../partials/nav') -%>
    <main class="mdl-layout__content">
        <section id="dashboard" class="mdl-layout__content mdl-layout__tab-panel is-active">
            <%- include('../pages/dashboard') -%>
        </section>
        <section id="koledar" class="mdl-layout__content mdl-layout__tab-panel">
            <%- include('../pages/koledar') -%>
        </section>
        <section id="naloge" class="mdl-layout__content mdl-layout__tab-panel">
            <%- include('../pages/naloge') -%>
        </section>
        <section id="cilji" class="mdl-layout__content mdl-layout__tab-panel">
            <%- include('../pages/cilji') -%>
        </section>
    </main>
    <%- include('../partials/footer') -%>
</div>
<%- include('../partials/script') -%>
</body>
</html>