<!doctype html>
<html lang="en">
<%- include('../partials/head') -%>
<body>
    <div class="text-layout mdl-header mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <%- include('../partials/nav') -%>
        <main class="mdl-layout__content">
            <section id="dashboard" class="mdl-layout__tab-panel <% if(tab == 0) { %> is-active <% } %>">
                <%- include('../pages/dashboard') -%>
            </section>
            <section id="koledar" class="mdl-layout__tab-panel <% if(tab == 1) { %> is-active <% } %>">
                <%- include('../pages/koledar') -%>
            </section>
            <section id="naloge" class="mdl-layout__tab-panel <% if(tab == 2) { %> is-active <% } %>">
                <%- include('../pages/naloge') -%>
            </section>
            <section id="cilj" class="mdl-layout__tab-panel <% if(tab == 3) { %> is-active <% } %>">
                <%- include('../pages/cilji') -%>
            </section>
            <%- include('../partials/footer') -%>
        </main>
    </div>
    <dialog id="dialog" class="mdl-dialog dialog-main">
        <div class="dialog-content-div" id="dialog-div">
            <h3 id="dialog-title" class="mdl-dialog__title"></h3>
            <form action="" method="POST" id="update_dialog">
                <div class="mdl-dialog__content" style="overflow-y: auto;padding-top: 50px;overflow-x: visible">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-modal">
                        <input class="mdl-textfield__input" type="text" id="imeDialog" name="imeDialog">
                        <label class="mdl-textfield__label" for="imeDialog" id="iDialog"></label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-modal">
                        <input class="mdl-textfield__input" type="text" id="opisDialog" name="opisDialog">
                        <label class="mdl-textfield__label" for="opisDialtZacetekog" id="oDialog"> </label>
                    </div>
                    <div id="dialogZacetek" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-modal" style="display:inline-block;">
                        <input class="mdl-textfield__input " type="text" id="targetZacetek" name="targetZacetek" title="Izberite dan, ko je bil cilj postavljen" style="text-align: left;">
                        <label class="mdl-textfield__label" for="targetZacetek" id="tZacetek"></label>
                        <div class="monthly-dialog monthly-picker" id="zacetekDialog"></div>
                       <!-- <input id="time" type="time">
                        <label class="mdl-textfield__label" for="time" id="ttime"></label>-->

                    </div>
                    <div id="dialogKonec" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-modal" style="display:inline-block;">
                        <input class="mdl-textfield__input " type="text" id="targetKonec" name="targetKonec" title="Izberite dan, ko je bil cilj končan" style="text-align: left;">
                        <label class="mdl-textfield__label" for="targetKonec" id="tKonec"> </label>
                        <div class="monthly-dialog monthly-picker" style="position: absolute; display: block;" id="konecDialog"></div>
                    </div>
                    <div id="dialogCilj" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select textfield-modal" hidden>
                        <input type="text" value="" class="mdl-textfield__input" id="vezanCilj" readonly>
                        <input type="hidden" value="" name="sampleCilj">
                        <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                        <label for="vezanCilj" class="mdl-textfield__label">Vezano na cilj</label>
                        <ul for="vezanCilj" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                            <% for (var i = 0; i < cilji.length; i++) { %>
                            <li class="mdl-menu__item" data-val="<%= cilji[i].id %>"><%= cilji[i].ime %></li>
                            <% } %>
                        </ul>
                    </div>
                    <div id="dialogKategorija" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select textfield-modal" hidden>
                        <input type="text" value="" class="mdl-textfield__input" id="kategorija" readonly>
                        <input type="hidden" value="" name="sampleKategorija">
                        <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                        <label for="kategorija" class="mdl-textfield__label">Kategorija</label>
                        <ul for="kategorija" class="mdl-menu mdl-menu--bottom-left mdl-js-menu list-kategorija" data-selected="true">
                            <% for (var i = 0; i < kategorija.length; i++) { %>
                            <li class="mdl-menu__item" data-val="<%= kategorija[i].id %>"><%= kategorija[i].ime %></li>
                            <% } %>
                        </ul>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select textfield-modal">
                        <input type="text" value="" class="mdl-textfield__input" id="statusNaloge" readonly>
                        <input type="hidden" value="" name="status">
                        <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                        <label for="statusNaloge" class="mdl-textfield__label">Status naloge</label>
                        <ul for="statusNaloge" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                            <li class="mdl-menu__item" data-val="true">Opravljeno</li>
                            <li class="mdl-menu__item" data-val="false">Neopravljeno</li>
                        </ul>
                    </div>
                    <div id="ciljiVsi">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1324">
                            <input type="checkbox" id="checkbox-1324" class="mdl-checkbox__input" checked>
                            <span class="mdl-checkbox__label">Dodaj cilj med skupne cilje družine</span>
                        </label>
                    </div>
                    <div id="claniNaloge" hidden>
                        <h4 class="mdl-typography--subhead dialog-sub">Člani naloge</h4>
                        <ul class="mdl-list" style="margin: 0;" id="listClani">
                            <% for (var i = 0; i < uporabniki.length; i++) { %>
                            <li class="mdl-list__item mdl-list__item--no-padding">
                                <span class="mdl-list__item-primary-content">
                                <i class="material-icons mdl-list__item-avatar">person</i><%= uporabniki[i].ime %>
                                </span>
                                <span class="mdl-list__item-secondary-action">
                                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect label-modal" for="person<%= i %>">
                                        <input type="checkbox" id="person<%= i %>" name="person" value="<%= uporabniki[i].id %>" class="mdl-checkbox__input checkbox-modal"/>
                                    </label>
                                </span>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                </div>
                <div class="mdl-dialog__actions">
                    <button type="button" class="mdl-button close mdl-color--red-400">Zapri</button>
                    <button id="ustvari" type="submit" value="submit" class="mdl-button mdl-color--grey-400" ></button>
                </div>
            </form>
        </div>
    </dialog>
    <%- include('../partials/script') -%>
    <%- include('../partials/scriptLogged') -%>
</body>
</html>