<div class="text-container mdl-grid">
    <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div  class="mdl-cell mdl-cell--10-col">
        <div class="mdl-card mdl-shadow--2dp mdl-card-naloge" id="nal1">
            <div class="mdl-card__title color-red krivulja-2 header2">
                <h2 class="mdl-card__title-text mdl-color-text--white shadow-text">Išči po nalogah</h2>
                <div class="mdl-card__actions">
                    <button id="dodajnalogo" class="mdl-button mdl-js-button mdl-button--raised color-dark-red align-right mdl-color-text--white" onclick="dodajNovoNalogo()">
                        DODAJ NOVO NALOGO
                        <i class="material-icons">add</i>
                    </button>
                </div>
            </div>
            <form id="searchFilter">
                <div class="mdl-card__supporting-text overflow-visible">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select textfield-search mdl-filter1">
                            <input type="text" value="" class="mdl-textfield__input" id="ciljSearch" readonly>
                            <input type="hidden" value="" name="ciljSearch">
                            <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                            <label for="ciljSearch" class="mdl-textfield__label">Vezan cilj</label>
                            <ul for="ciljSearch" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                                <% for (var i = 0; i < cilji.length; i++) { %>
                                <li class="mdl-menu__item" data-val="<%= cilji[i].id %>"><%= cilji[i].ime %></li>
                                <% } %>
                            </ul>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select textfield-search mdl-filter2">
                            <input type="text" value="" class="mdl-textfield__input" id="kategorijaSearch" readonly>
                            <input type="hidden" value="" name="kategorijaSearch">
                            <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                            <label for="kategorijaSearch" class="mdl-textfield__label">Kategorija</label>
                            <ul for="kategorijaSearch" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                                <% for (var i = 0; i < kategorija.length; i++) { %>
                                <li class="mdl-menu__item" data-val="<%= kategorija[i].id %>"><%= kategorija[i].ime %></li>
                                <% } %>
                            </ul>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select textfield-search mdl-filter3">
                        <input type="text" value="" class="mdl-textfield__input" id="osebaSearch" readonly>
                        <input type="hidden" value="" name="osebaSearch">
                        <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                        <label for="osebaSearch" class="mdl-textfield__label">Za koga</label>
                        <ul for="osebaSearch" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                            <% for (var i = 0; i < uporabniki.length; i++) { %>
                            <li class="mdl-menu__item" data-val="<%= uporabniki[i].id %>"><%= uporabniki[i].ime %></li>
                            <% } %>
                        </ul>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select textfield-search mdl-filter4">
                        <input type="text" value="" class="mdl-textfield__input" id="statusSearch" readonly>
                        <input type="hidden" value="" name="statusSearch">
                        <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                        <label for="statusSearch" class="mdl-textfield__label">Status</label>
                        <ul for="statusSearch" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                            <li class="mdl-menu__item" data-val="true">Opravljena</li>
                            <li class="mdl-menu__item" data-val="false">Neopravljena</li>
                        </ul>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select textfield-search mdl-filter5">
                        <input type="text" value="" class="mdl-textfield__input" id="avtorSearch" readonly>
                        <input type="hidden" value="" name="avtorSearch">
                        <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                        <label for="avtorSearch" class="mdl-textfield__label">Avtor</label>
                        <ul for="avtorSearch" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                            <% for (var i = 0; i < uporabniki.length; i++) { %>
                            <li class="mdl-menu__item" data-val="<%= uporabniki[i].id %>"><%= uporabniki[i].ime %></li>
                            <% } %>
                        </ul>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select textfield-search mdl-filter6">
                        <input type="text" value="" class="mdl-textfield__input" id="koledarSearch" readonly>
                        <input type="hidden" value="" name="koledarSearch">
                        <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                        <label for="koledarSearch" class="mdl-textfield__label">Razvrščanje</label>
                        <ul for="koledarSearch" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                            <li class="mdl-menu__item" data-val="1">Začetni datum &#x25B2</li>
                            <li class="mdl-menu__item" data-val="2">Začetni datum &#x25BC</li>
                            <li class="mdl-menu__item" data-val="3">Končni datum &#x25B2</li>
                            <li class="mdl-menu__item" data-val="4">Končni datum &#x25BC</li>
                        </ul>
                    </div>
                </div>
            </form>
            <div id="query" class="mdl-card__actions mdl-card--border" style="text-align: center;">
                <span id="chipCilj" class="mdl-chip mdl-chip--deletable hide-element chip-naloge mdl-color-text--grey-700">
                    <span class="mdl-chip__text">Deletable Chip</span>
                    <button type="button" class="mdl-chip__action" onclick="clearField(1, chipCilj)"><i class="material-icons">cancel</i></button>
                </span>
                <span id="chipKategorija" class="mdl-chip mdl-chip--deletable hide-element chip-naloge mdl-color-text--grey-700">
                    <span class="mdl-chip__text">Deletable Chip</span>
                    <button type="button" class="mdl-chip__action" onclick="clearField(2,chipKategorija)"><i class="material-icons">cancel</i></button>
                </span>
                <span id="chipOseba" class="mdl-chip mdl-chip--deletable hide-element chip-naloge mdl-color-text--grey-700">
                    <span class="mdl-chip__text">Deletable Chip</span>
                    <button type="button" class="mdl-chip__action" onclick="clearField(3,chipOseba)"><i class="material-icons">cancel</i></button>
                </span>
                <span id="chipStatus"class="mdl-chip mdl-chip--deletable hide-element chip-naloge mdl-color-text--grey-700">
                    <span class="mdl-chip__text">Deletable Chip</span>
                    <button type="button" class="mdl-chip__action" onclick="clearField(4,chipStatus)"><i class="material-icons">cancel</i></button>
                </span>
                <span id="chipAvtor" class="mdl-chip mdl-chip--deletable hide-element chip-naloge mdl-color-text--grey-700">
                    <span class="mdl-chip__text">Deletable Chip</span>
                    <button type="button" class="mdl-chip__action" onclick="clearField(5,chipAvtor)"><i class="material-icons">cancel</i></button>
                </span>
                <span id="chipKoledar" class="mdl-chip mdl-chip--deletable hide-element chip-naloge mdl-color-text--grey-700">
                    <span class="mdl-chip__text">Deletable Chip</span>
                    <button type="button" class="mdl-chip__action" onclick="clearField(6,chipKoledar)"><i class="material-icons">cancel</i></button>
                </span>
                <!--
                <button id="reset" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                    Ponastavi iskalni niz
                </button>
                -->
            </div>
            <div class="mdl-card__actions" style="text-align: center;">
                <!--
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select textfield-search">
                    <input type="text" value="" class="mdl-textfield__input" id="rezultatiSearch" readonly>
                    <input type="hidden" value="2" name="rezultatiSearch" id="stStrani">
                    <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
                    <label for="rezultatiSearch" class="mdl-textfield__label">Rezultatov na stran:</label>
                    <ul for="rezultatiSearch" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                        <li class="mdl-menu__item" data-val="2" data-selected="true">8</li>
                        <li class="mdl-menu__item" data-val="4">16</li>
                        <li class="mdl-menu__item" data-val="32">32</li>
                    </ul>
                </div>-->
                <button id="filter" class="mdl-button mdl-js-button mdl-button--raised color-red mdl-color-text--white">
                    Išči
                </button>
            </div>
        </div>
    </div>

</div>
<div class="text-container mdl-grid">
    <div class="text-container index2 mdl-grid" id="nalogeGrid"></div>
    <div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div id="pagination"></div>
</div>


